
@media screen and (max-width: 768px) {

#part-two-sub{
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    z-index: 9990;
    background-image: url('/public/assets/imgs/Bg2.png');
    direction: rtl;
}
 

.part-titletwo-sub{
    font-family: "Assistant";
    margin-top: 2vh;
    right: 50%;
    transform: translateX(50%);
    width: 100vw;
    color: #ffffff;
    text-align: center;
    position: absolute;
}

.instructions-parttwo-sub{
    font-family: "Assistant";
    margin-top: 9vh;
    font-size: 1.3em;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    color: #ffffff;
    text-align: center;
    position: absolute;
}

.half-circle-buttons.column {
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        margin-top: 21vh  ;
  }
  
  .button-with-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 16px; /* 专   驻转专 拽住 */
    direction: rtl; /* 砖专 注  注专 */
  }
  
  .half-circle-button {
    width: 26vw;
    height: 10vh;
    border-radius: 40px 0 0 40px;
    overflow: hidden;
    background-color: #f0f0f0;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  
  
  .button-label {
    color: white;
    font-family: "Karantina";
    font-size: 2.1em;
    position: relative;
    top: 0vh;
    right: -2vw;
    font-weight: bold;
    white-space: nowrap;
  }
  
  
  .button-img {
    width: 64%;
    height: 90%;
  }
  
  .half-circle-button.pressed {
    background-color: rgb(53, 184, 141);
  }
  
  .button-label.label-pressed {
    color: rgb(53, 184, 141);
    font-weight: bold;
  }
  .next-step-button-21 {
    margin-top: 30px;
    padding: 10px 25px;
    font-size: 1.5em;
    border-radius: 30px;
    background-color: rgb(53, 184, 141);
    color: white;
    border: none;
    font-family: "Assistant";
    cursor: pointer;
    width:50vw;
  }
  
  .next-step-button-21:disabled{
    margin-top: 30px;
    padding: 10px 25px;
    font-size: 1.5em;
    border-radius: 30px;
    background-color: rgb(53, 184, 141);
    color: white;
    border: none;
    font-family: "Assistant";
    opacity: 0.6;
    cursor: not-allowed;
    width:50vw;
   
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px)  {
  #part-two-sub{
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    z-index: 9990;
    background-image: url('/public/assets/imgs/Bg3.jpg');
    direction: rtl;
}
 

.part-titletwo-sub{
    font-family: "Assistant";
    margin-top: 2vh;
    font-size: 2em;

    right: 50%;
    transform: translateX(50%);
    width: 100vw;
    color: #ffffff;
    text-align: center;
    position: absolute;
}

.instructions-parttwo-sub{
    font-family: "Assistant";
    margin-top: 9vh;
    font-size: 2.5em;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    color: #ffffff;
    text-align: center;
    position: absolute;
}

.half-circle-buttons.column {
  display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 70px;
          margin-top: 21vh;
          transform: translateX(-15%);

  }
  
  .button-with-text {
    display: flex;
    flex-direction: column;     /*   - 住专 : 拽/驻转专 注 拽住 */
    align-items: center;        /* 专 驻拽转 */
    justify-content: center;    /* 专 转 */
    gap: 8px;                   /* 专   驻转专 拽住 */
    direction: rtl;             /* 砖专 注  注专 */
  }


  .half-circle-button {
    width: 20vw;
    height: 16vh;
    border-radius: 40px;
    overflow: hidden;
    background-color: #f0f0f0;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  
  
  .button-label {
    color: white;
    font-family: "Karantina";
    font-size: 3em;
    position: relative;
    top: 2vh;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
  
  
  .button-img {
    width: 64%;
    height: 90%;
  }
  
  .half-circle-button.pressed {
    background-color: rgb(53, 184, 141);
  }
  
  .button-label.label-pressed {
    color: rgb(53, 184, 141);
    font-weight: bold;
  }
  .next-step-button-21 {
    margin-top: 12vh;
    padding: 10px 25px;
    font-size: 3.5em;
    border-radius: 54px;
    background-color: rgb(53, 184, 141);
    color: white;
    border: none;
    font-family: "Assistant";
    cursor: not-allowed;
    width: 33vw;
  }
  
  .next-step-button-21:disabled{
    margin-top: 12vh;
    padding: 10px 25px;
    font-size: 3.5em;
    border-radius: 54px;
    background-color: rgb(53, 184, 141);
    color: white;
    border: none;
    font-family: "Assistant";
    opacity: 0.6;
    cursor: not-allowed;
    width: 33vw;
   
  }


}



@media screen and (min-width: 1025px) {
  #part-two-sub{
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    z-index: 9990;
    background-image: url('/public/assets/imgs/Bg3.jpg');
    direction: rtl;
}
 

.part-titletwo-sub{
    font-family: "Assistant";
    margin-top: 2vh;
    font-size: 2em;

    right: 50%;
    transform: translateX(50%);
    width: 100vw;
    color: #ffffff;
    text-align: center;
    position: absolute;
}

.instructions-parttwo-sub{
    font-family: "Assistant";
    margin-top: 9vh;
    font-size: 2.5em;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    color: #ffffff;
    text-align: center;
    position: absolute;
}

.half-circle-buttons.column {
  display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 70px;
          margin-top: 21vh;
          transform: translateX(-15%);

  }
  
  .button-with-text {
    display: flex;
    flex-direction: column;     /*   - 住专 : 拽/驻转专 注 拽住 */
    align-items: center;        /* 专 驻拽转 */
    justify-content: center;    /* 专 转 */
    gap: 8px;                   /* 专   驻转专 拽住 */
    direction: rtl;             /* 砖专 注  注专 */
  }


  .half-circle-button {
    width: 20vw;
    height: 16vh;
    border-radius: 40px;
    overflow: hidden;
    background-color: #f0f0f0;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  
  
  .button-label {
    color: white;
    font-family: "Karantina";
    font-size: 3em;
    position: relative;
    top: 2vh;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
  

  .button-img {
    width: 34%;
    height: auto;
}
  
  
  .half-circle-button.pressed {
    background-color: rgb(53, 184, 141);
  }
  
  .button-label.label-pressed {
    color: rgb(53, 184, 141);
    font-weight: bold;
  }
  .next-step-button-21 {
    margin-top: 12vh;
    padding: 10px 25px;
    font-size: 5vmin;
    border-radius: 54px;
    background-color: rgb(53, 184, 141);
    color: white;
    border: none;
    font-family: "Assistant";
    cursor: not-allowed;
    width: 20vw;
  }
  
  .next-step-button-21:disabled{
    opacity: 0.6;
    cursor: not-allowed;

   
  }
}