
#podcast {
    position: fixed;
    top: 15vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9990;
    background-image: url('/public/assets/imgs/Bg2.png');
    direction: rtl;
}

.circle-div{
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    height: 90vh;
    margin-top: 16vh;
    width: 107vh;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
}
.points {
    position: absolute;
    width: 100vw;
    right: 50%;
    transform: translateX(50%);
    height: 5vh;
    top: 7%;


}

.point-container {
    position: absolute;
    text-align: center;
}

.point-number {
    position: absolute;
    top: -45px; 
    font-family: "Heebo";
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.next-point {
    width: auto;
    height: 8vh;
}

#image-1 {
    position: absolute;
    left: 1%;
    top: 11vh;
}

#image-2 {
    position: absolute;
    left: 20%;
    top: 7vh;
}

#image-3 {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 6vh;

}

#image-4 {
    position: absolute;
    top: 7vh;
    right: 20%;

    
}

#image-5 {
    position: absolute;
    top: 11vh;
    right: 1%;
}

.order{
    color: white;
    position: absolute;
    font-family: "Heebo";
    right: 50%;
    width: 100vw;
    top: 1vh;
    transform: translateX(50%);
}